html, body {
  box-sizing: border-box;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

span {
  margin-bottom: 20px;
}

select {
  margin-bottom: 20px;
}

textarea {
  margin-bottom: 20px;
}

button {
  margin-bottom: 20px;
}

.correct {
  background-color: forestgreen;
}

.incorrect {
  background-color: firebrick;
}